.root {
     -fx-background-image: url("linen-texture-material-background.jpg");
}

.buttons {
    -fx-font-size: 1.05em;
    -fx-font-family: "Sans-Serif";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 8;
    -fx-background-color: rgb(77, 90, 112);
	-fx-background-radius: 8;
    -fx-border-color: rgb(102, 115, 137);
    -fx-border-radius: 8;
    -fx-effect: dropshadow(gaussian, rgb(102, 115, 137), 10, 0.0, 1, 1);
}

.buttons:hover {
    -fx-background-color: rgb(57, 70, 92);
}

.buttons:focused {
    -fx-border-color: rgb(2, 15, 190);
}

.buttons:pressed {
    -fx-background-color: rgb(132, 145, 167);
}

.comboBoxes {
    -fx-font-size: 1.1em;
    -fx-font-family: "Sans-Serif";
    -fx-padding: 3;
	-fx-background-radius: 10;
	-fx-background-color: white;
    -fx-border-color: rgb(102, 115, 137);
    -fx-border-radius: 10;
}

.comboBoxes:hover {
	-fx-background-color: rgb(213, 217, 224);
}

.comboBoxes:showing {
    -fx-color: rgb(86, 123, 188);
}

.comboBoxes:focused {
    -fx-border-color: rgb(2, 15, 190);
}

.labels {
    -fx-text-fill: rgb(23, 58, 119);
}

.list-cell:hover {
    -fx-background-color: rgb(23, 58, 119);
}

/* Css for ComboBox selected cell */
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
	-fx-background-color: rgb(53, 88, 149);
}

.combo-box .arrow, .combo-box .arrow-button{
    -fx-color: blue;
}

.errorLabel {
    -fx-text-fill: rgb(175, 17, 17);
	-fx-font-size: 0.9em;
}

.textField {
	-fx-font-size: 1em;
    -fx-font-family: "Sans-Serif";
    -fx-padding: 5;
	-fx-background-radius: 10;
	-fx-background-color: white;
    -fx-border-color: rgb(102, 115, 137);
    -fx-border-radius: 10;
}

.check-box:selected .mark {
	-fx-background-color: rgb(23, 58, 119);
}

.check-box:hover .box {
	-fx-background-color: rgb(216, 214, 214);
}

.check-box:focused .box {
    -fx-effect: dropshadow(gaussian, rgb(102, 115, 137), 10, 0.0, 1, 1);
}

.check-box .box {
	-fx-background-color: white;
}

.table-view {
	-fx-color: rgb(102, 115, 137);
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(rgb(77, 90, 112) 0%, rgb(102, 115, 137) 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, rgb(77, 90, 112);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, rgb(102, 115, 137);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0;
}

.table-row-cell:selected {
    -fx-background-color: rgb(57, 70, 92);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}